<%- include('partials/head') %>

<%- include('partials/navbar') %>

<div class="div-conatiner">
    <h1>The Home Page <%= 'Tally'.toUpperCase()%></h1>
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis, odit reprehenderit enim atque nam numquam quia voluptatum voluptas officiis rem itaque, libero corrupti. Incidunt optio quisquam eos blanditiis, sit sapiente?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa ducimus libero aliquid laboriosam deleniti aperiam ratione amet eligendi praesentium inventore deserunt consequuntur exercitationem culpa officia aliquam possimus numquam, architecto placeat. 
    </p>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro delectus distinctio, ab nulla repudiandae, eos ipsa ipsum iusto illum esse hic nesciunt iste quam dolor similique! Maxime ea magnam eos!
    </p>
</div>
    
<%- include('partials/footer') %>